<div class="ui stackable massive menu inverted">
  <div class="ui container fnt-cust">
    <div class="item image-logo big">
      <%= image_tag 'btn_keyboard.jpg', class: "image-logo" %>
    </div>
    <%= link_to "Chatroom", root_path, class: "item fnt-cust" %>
    <a class="item">Messages</a>
    <div class="right menu">
      <div class="ui dropdown item">
        My profile <i class="dropdown icon"></i>
        <div class="menu">
          <% if logged_in? %>
            <%= link_to "Logout", logout_path, method: :delete, class: "item fnt-cust" %>
            <%= link_to current_user.username, root_path, class: "item fnt-cust"%>
          <% else %>
            <%= link_to "Login", login_path, class: "item fnt-cust" %>
          <% end %>
        </div>
      </div>
      <% if !logged_in? %>
        <%= link_to "Login", login_path, class: "item fnt-cust" %>
      </div>
    <% end %>
  </div>
</div>
</div>
